pref_checkdate.txt
pref_mf_0.txt
pref_savedlanguage.txt
pref_sortorder.txt
scrapelog.txt
pref_thumbtype.txt
pref_layoutoptions.txt
latest_version.txt
.DS_Store
pref_update.txt
layout_139.nut
layout_140.nut
pref_mf_fbneo_All.txt
pref_mf_mame_All.txt
pref_mf_PC Engine CD_All.txt
pref_mf_Arcade_All.txt
pref_mf_GameBOy Advance SP_All.txt
pref_mf_Supergrafx_All.txt
aaa_bgm.mp3
aaa_bgms/bg1.wav
aaa_bgms/bg2.wav
aaa_bgms/bg3.wav
