
* {
  box-sizing: border-box;
}

span.date{
	float:right;
	/*margin-right:15px;*/
	font-size:20px;
}

h1, li, a, div.blockgrid, div.blockfull, div.blockleft, div.blockright{
	font-family: Arial, Helvetica, sans-serif;
	color:white;
}

div.text{
   line-height:25px;
   margin-top:15px;
}

h1, a {
	text-decoration: none;
	border:0px;
	padding:0px;
	margin:0px;
}

h1 {
	font-size:30px;
	margin-top:0px;
	margin-left:0px;
	text-shadow: 0px 3px 5px #00000065;
}

ul {
	padding-left: 20px;
}

li {
	padding-left:10px;
	margin-bottom: 5px;
	margin-top: 15px;
	font-size:18px;
}

ul ul {
	margin-top:5px;
	margin-bottom:0px;
}		

ul ul li{
	margin-top:5px;
	margin-bottom:5px;
}

body{
	padding:0px;
	margin:0px;
	background-color: #101010;
}

/* Main container of page content*/
div.container {
	padding:0px;
	display:grid;
	width:auto;
	grid-template:auto / auto;
	align-items: center;
	justify-content: center;
}

/*Header with logo and pages menu*/
div.header {
	background-color:#505050;
	padding:0px;
	display:grid;
	grid-template: auto 50px/100%;
	width:auto;
	height:250px;
	align-items: center;
	justify-content: center;
}

div.logo {
	padding:0px;
	display:flex;
	width:100%;
	height:100%;
	align-items: center;
	justify-content: center;			
}

div.logo img {
	height: 200px;
	width: auto;
	box-shadow: none;
}

div.menu {
	display:grid;
	grid-template: 100% / 1fr 1fr 1fr 1fr;
	width:100%;
	height:100%;
	justify-items: center;			
	align-items: center;
	padding:0px 20px 20px 20px;
}

div.menu div {
	display:flex;
	width:100%;
	height:100%;
	align-content: center;
	justify-content: center;
}

div.menu div a {
	line-height:30px;
	width:100%;
	height:100%;
	text-align: center;
	z-index: 6;
	padding-left:5px;
	padding-right:5px;
	margin-left:5px;
	margin-right:5px;
}

div.menu div a:hover {
	background-color: #FFFFFF;
	color: #505050;
}

body.m_about a.m_about, 
body.m_history a.m_history,
body.m_features a.m_features,
body.m_links a.m_links {

	background-color: #FFFFFF;
	color: #505050;
	box-shadow: 0px 2px 20px #00000070;

}


/* Alternate color of divs inside the container (that is div.blocks */
div.container > div:nth-of-type(even) {
background: #353535;
}

/* Styles for text/image arrangements */
div.blockleft, div.blockright, div.blockgrid, div.blockfull{
	max-width:1200px;
	margin:0px;
	width:100%;
	display:grid;
	background-color:#454545;

	grid-gap: 30px;
	padding:30px;

	font-size:18px;
   
}

div.blockleft {
	grid-template:auto / minmax(350px,35%)  auto;
}

div.blockright {
	grid-template:auto / auto  minmax(350px,35%);
}

div.blockgrid {
	grid-template:auto / 1fr 1fr;
}

div.blockfull {
	grid-template:auto / auto;
}


/* Generic image style */
img {
	border-radius: 5px;
	border-width: 0px;
	border-style: none;
	box-shadow: 0px 2px 20px #00000070;
}


/* This is the div that contains one or multiple images used in history and features page */
div.picgallery {
	display:grid;
	grid-template: auto/auto;
	width:100%;
	height: fit-content;
	grid-gap: 20px;
}

/* Size and clamp for gallery pics */
div.imgdiv, img.histpic {
	width:clamp(320px,100%,1500px);
}

/* Div used in the about page to host three images in a row*/
div.picstripe {
	display:grid;
	grid-template: auto/1fr 1fr 1fr;
	width:100%;
	height: fit-content;
	grid-gap: 20px;
}

div.linkarea {
	padding:0px;
	display:grid;
	width:100%;
	grid-template:auto / 90px auto;
	align-items: center;
	justify-content: left;
}

img.linklogo {
   width:60px;
}

img.afico {
   width:150px;
   float:left;
	border-radius: 0px;
	border-width: 0px;
	border-style: none;
	box-shadow: none;
}



div.data {
/*	background-color: lavender;*/
	width:100%;
}


@media screen and (max-width: 1050px) {
	div.picstripe{
		width:auto;
		min-width: 150px;
		grid-template: auto/1fr 1fr;
	}
}
	
@media screen and (max-width: 950px) {
	div.blockleft, div.blockright{
		grid-template:auto / auto;
		
	}
	
	div.blockgrid{
	   grid-template:auto / auto;
	}
	
	div.picgallery{
		width:auto;
		min-width: 150px;
		grid-template: auto/1fr 1fr;
	}
		
	div.imgdiv{
		min-width: 150px;
		max-width:1500px;
		width:auto;
	}
	
	img.histpic{
		width:clamp(150px,100%,1500px);
	}
	div.header {
		height: 200px;
	}
	div.logo img {
		height: 150px;
	}

}

@media screen and (max-width: 650px) {
	div.blockleft,div.blockright{
	flex-direction: column;
	}
	div.picgallery{
		width:auto;
		grid-template: auto/auto;
	}
	div.picstripe{
		width:auto;
		grid-template: auto/auto;
	}
	div.imgdiv{
		min-width:150px;
		width:100%;
	}
	
	img.histpic{
		width:clamp(150px,100%,1500px);
	}
	div.header {
		height: 150px;
	}
	div.logo img {
		height: 100px;
	}
}
